[Unit]
Description=Flask app
After=network.target

[Service]
User=jenkins
WorkingDirectory=/home/jenkins/.jenkins/workspace/flaskapp2
Environment=SQLALCHEMY_DATABASE_URI=DB_URI
Environment=SECRET_KEY=SECRET
ExecStart=python3 /home/jenkins/.jenkins/workspace/flaskapp2/app.py
Restart=always

[Install]
WantedBy=multi-user.target