[Unit]
Description=Flask app
After=network.target

[Service]
User=jenkins
Environment=SQLALCHEMY_DATABASE_URI=${DB_URI}
Environment=SECRET_KEY=${SECRET_KEY}
WorkingDirectory=/home/jenkins/.jenkins/workspace/flaskapp2
ExecStart=python3 /home/jenkins/.jenkins/workspace/flaskapp2/app.py

[Install]
WantedBy=multi-user.target
