{% extends 'layout.html' %}
{% block body_content %}

<div class="container"><br>
    <div class="row align-items-center justify-content-center">
    <div class="col-md-4">
        <h3><strong>{{ title }}</strong></h3><br>
        <form action='' method='POST'>
            {{ form.hidden_tag() }}
    
            <div class="mb-3">
                <strong>{{ form.name.label(class="form-label") }}</strong>
                {{ form.name(class="form-control")}}
            </div>
            <div class="mb-3">
                <strong>{{ form.date.label(class="form-label") }}</strong>
                {{ form.date(class="form-control")}} 
            </div>
                {% if form.name.errors %}
                    {% for error in form.name.errors %}
                        <div>{{ error }}</div>
                    {% endfor %}
                {% endif %}
    
            {{ form.submit(class="btn btn-primary") }}
        </form>
    </div>
    </div>
</div>

{% endblock body_content %}