{% extends 'layout.html' %}
{% block body_content %}
    <form action='' method='POST'>
        {{ form.hidden_tag() }}

        <div class="mb-3">
            <label for="salary" class="form-label">{{ form.salary.label }}</label>
            <input type="email" class="form-control" id="exampleInputEmail1">
            {% if form.salary.errors %}
                {% for error in form.salary.errors %}
                    <div id="salaryerror" class="form-text">{{ error }}</div>
                {% endfor %}
            {% endif %}
        </div>

        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
        
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        
        <button type="submit" class="btn btn-primary">Submit</button>
        
        
        {{ form.salary.label }} {{ form.select_salary }} {{ form.salary }} <br>
        {% if form.salary.errors %}
            {% for error in form.salary.errors %}
                {{ error }}<br>
            {% endfor %}
        {% endif %}

        {{ form.tax.label }} {{ form.select_tax }} {{ form.tax }} <br>
        {% if form.tax.errors %}
            {% for error in form.tax.errors %}
                {{ error }}<br>
            {% endfor %}
        {% endif %}

        {{ form.ni.label }} {{ form.select_ni }} {{ form.ni }} <br>
        {% if form.ni.errors %}
            {% for error in form.ni.errors %}
                {{ error }}<br>
            {% endfor %}
        {% endif %}

        {{ form.pension.label }} {{ form.select_pension }} {{ form.pension }} <br>
        {% if form.pension.errors %}
            {% for error in form.pension.errors %}
                {{ error }}<br>
            {% endfor %}
        {% endif %}

        {{ form.student_loan.label }} {{ form.select_student_loan }} {{ form.student_loan }} <br>
        {% if form.student_loan.errors %}
            {% for error in form.student_loan.errors %}
                {{ error }}<br>
            {% endfor %}
        {% endif %}

        {{ form.submit }}
    </form>
{% endblock body_content %}
