{% extends 'layout.html' %}

{% block body_content %}
    <div class="container"><br>
        <div class="row align-items-center justify-content-center mb-4">
            <div class="col-sm-8">
                <div class="p-3 mb-5 text-light text-center shadow-lg" style="background-color: #36454F;" id="corners-all">
                    <h2><strong>{{ title }}</strong></h2>
                </div>
                <div class="card shadow-lg bg-light text-center" id="corners-all">
                    <h6 class="card-header text-white" style="background-color: #36454F;" id="corners-top">
                        <strong>Expense this week</strong>
                    </h6>
                    <div class="card-body">
                        <canvas id="lineChart"></canvas> 
                    </div>
                </div>
            </div>
        </div><br>    
            <div class="row align-items-center justify-content-center">
                <div class="col-sm-4">
                    <div class="card shadow-lg bg-light text-center" id="corners-all">
                        <h6 class="card-header text-white" style="background-color: #36454F;" id="corners-top">
                            <strong>Categorical expense per month (%)</strong>
                        </h6>
                        <div class="card-body">
                            <canvas id="doughnutChart"></canvas><br>
                        </div>
                    </div>
                </div>
                <div class="col-sm-7">
                    <div class="card shadow-lg bg-light text-center" id="corners-all">
                        <h6 class="card-header text-white" style="background-color: #36454F;" id="corners-top">
                            <strong>Monthly expense</strong>
                        </h6>
                        <div class="card-body">
                            <canvas id="barChart"></canvas>
                        </div>
                    </div>
                </div>
            </div>
    </div>    
{% endblock body_content %}

{% block scripts %}
    <script>
        const labels = [
        'Monday',
        'Tuesday',
        'Wednesday',
        'Thursday',
        'Friday',
        'Saturday',
        'Sunday'
        ];
    
        const data = {
        labels: labels,
        datasets: [{
            fill: true,
            backgroundColor: 'rgba(75, 192, 192, 0.3)',
            borderColor: 'rgb(75, 192, 192)',
            borderWidth: 2,
            pointBackgroundColor: 'rgb(255, 255, 255)',
            pointBorderColor: 'rgb(75, 192, 192)',
            data: {{ weekly_expense|tojson }},
            tension: 0.3
        }]
        };
    
        const config = {type: 'line',
                        data: data,
                        options: {
                                plugins: {
                                            legend: {
                                                    display: false
                                                    },
                                            title: {
                                                    display: false,
                                                    text: 'Expense this week',
                                                    position: 'bottom',
                                                    font: {size: 20}
                                                    }
                                        },
                                scales: {x: {title: {display: true, text: 'Days', font: {size: 15, weight: "bold"}},
                                            grid: {display: false}},
                                        y: {title: {display: true, text: 'Expenses (£)', font: {size: 15, weight: "bold"}},
                                            grid: {display: false}}
                                        }
                                }
                        };
    
        const lineChart = new Chart(document.getElementById('lineChart'), config);
    </script>

    <script>
        const doughnut_data = {
        labels: {{ category_names|tojson }},
        datasets: [{
            label: 'Categorical expense per month (%)',
            data: {{ categorical_expense|tojson }},
            borderColor: 'rgb(105, 105, 105)',
            spacing: 0,
            backgroundColor: [
                'rgba(249, 221, 171, 0.5)',
                'rgba(249, 167, 6, 0.5)',
                'rgba(255, 103, 4, 0.5)',
                'rgba(231, 6, 46, 0.5)',
                'rgba(162, 33, 126, 0.5)',
                'rgba(81, 18, 150, 0.5)',
                'rgba(2, 7, 89, 0.5)',
                'rgba(17, 79, 198, 0.5)',
                'rgba(3, 140, 94, 0.5)',
                'rgba(127, 194, 79, 0.5)',
                'rgba(241, 250, 238, 0.5)',
                'rgba(168, 218, 220, 0.5)'
                ],
            hoverOffset: 4
            }]
        };
    
        const config_doughnut = {
        type: 'doughnut',
        data: doughnut_data,
        options: {
                cutout: '60%',
                plugins: {
                        legend:{
                                position: 'left',
                                labels: {
                                            boxWidth: 15,
                                            boxHeight: 15
                                        }
                                },                        
                         title: {
                                display: false,
                                text: 'Categorical expense per month (%)',
                                position: 'bottom',
                                font: {size: 20}
                                }
                        },
                }
        };
    
        const doughnutChart = new Chart(document.getElementById('doughnutChart'), config_doughnut);
    </script>

    <script>
        const bar_labels = ['Jan', 'Feb', 'Mar', 'Apr', 
                            'May', 'Jun', 'Jul', 'Aug',
                            'Sept', 'Oct', 'Nov', 'Dec'];
        const bar_data = {
        labels: bar_labels,
        datasets: [{
            axis: 'y',
            label: 'Monthly expense',
            data: {{ monthly_expense|tojson }},
            fill: true,
            borderColor:'rgb(105, 105, 105)',
            borderWidth: 2,
            borderRadius: 100,
            backgroundColor: [
            'rgba(181, 82, 0, 0.5)',
            'rgba(255, 147, 0, 0.5)',
            'rgba(176, 235, 235, 0.5)',
            'rgba(0, 191, 191, 0.5)',
            'rgba(0, 120, 119, 0.5)',
            'rgba(0, 66, 66, 0.5)',
            'rgba(251, 160, 113, 0.5)',
            'rgba(255, 227, 211, 0.5)',
            'rgba(255, 176, 146, 0.5)',
            'rgba(255, 138, 114, 0.5)',
            'rgba(248, 255, 229, 0.5)',
            'rgba(239, 71, 111, 0.5)'
            ]
            }]
        };
    
        const config_bar = {type: 'bar', data: bar_data,
                            options: {
                                        plugins: {
                                                    legend: {
                                                            display: false
                                                            },
                                                    title: {
                                                            display: false,
                                                            text: 'Monthly expense',
                                                            position: 'bottom',
                                                            font: {size: 20}
                                                            }       
                                                },
                                        scales: {x: {title: {display: true, text: 'Expense (£)', font: {size: 15, weight: "bold"}},
                                                    grid: {display: false}},
                                                    
                                                y: {title: {display: true, text: 'Months', font: {size: 15, weight: "bold"}},
                                                    grid: {display: false}}
                                                    
                                                },
                                        indexAxis: 'y',
                                    }
                            };
   
        const barChart = new Chart(document.getElementById('barChart'), config_bar);

    </script>


<script>
  $(document).ready(function(){
      $('.active').removeClass("active");
      $("#link-home").addClass("active");
  });
</script>

{% endblock %}