<div>
<table class="table">
    <thead>
      <tr>
        {% for column in all_columns %}
          <th scope="col">{{ column }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for expense in all_expenses %}
        <tr>
            <th scope="row">{{ expense.id }}</th>
            <td>{{ expense.name }}</td>
            <td>{{ expense.amount }}</td>
            <td>{{ expense.created_at }}</td>
            <td>{{ expense.updated_at }}</td>
            <td>{{ expense.categories_id }}</td>
        </tr>
      {% endfor %}
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td colspan="2">Larry the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table>
</div>