{% extends 'layout.html' %}
{% block body_content %}
<div class="container"><br>
  <div class="row align-items-center justify-content-center">
    <div class="card shadow bg-light">
      <div class="card-body">
        <table id="all_categories_table" class="table">
            <thead>
              <tr>
                  <th>CATEGORY</th>
                  <th>DATE</th>
                  <th>ACTION</th>
              </tr>
            </thead>
            <tbody>
              {% for category in all_categories %}
                <tr>
                    <td>{{ category.name }}</td>
                    <td>{{ category.date.strftime("%d/%m/%Y") }}</td>
                    <td><div class="d-grid gap-2 d-md-block">
                        <a type="button" class="btn btn-warning" href="{{ url_for("edit_category", id=category.id) }}">Edit</a>
                        <a type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete</a>
                        </div>
                        <!-- Modal -->
                        <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Are you sure you want to delete?</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>
                              <div class="modal-body">
                                Category: {{ category.name }}<br>
                                Date: {{ category.date }}<br>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                                <a type="button" class="btn btn-primary" href="{{ url_for("delete_category", id=category.id) }}">Yes</a>
                              </div>
                            </div>
                          </div>
                        </div>
                    </td>
                </tr>
              {% endfor %}
            </tbody>
        </table>
      </div>
    </div>    
  </div>
</div>
{% endblock body_content %}


{% block scripts %}
  <script>
    $(document).ready(function () {
      $('#all_categories_table').DataTable();
    });
  </script>

<script>
  $(document).ready(function(){
      $('.active').removeClass("active");
      $("#link-category").addClass("active");
  });
</script>

{% endblock %}
