{% extends 'layout.html' %}
{% block body_content %}
<div class="container"><br>
  <div class="row align-items-center justify-content-center">
<table id="all_expenses_table" class="table">
    <thead>
      <tr>
          <th>NAME</th>
          <th>AMOUNT</th>
          <th>CREATED AT</th>
          <th>UPDATED AT</th>
          <th>CATEGORY</th>
          <th>ACTION</th>
      </tr>
    </thead>
    <tbody>
      {% for expense in all_expenses %}
        <tr>
            <td>{{ expense.name }}</td>
            <td>{{ expense.amount }}</td>
            <td>{{ expense.created_at }}</td>
            <td>{{ expense.updated_at }}</td>
            <td>{{ expense.category.name }}</td>
            <td><div class="d-grid gap-2 d-md-block">
                <a type="button" class="btn btn-warning" href="{{ url_for("edit_expense", id=expense.id) }}">Edit</a>
                <a type="button" class="btn btn-danger">Delete</a>
                </div>
            </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  </div>
</div>
{% endblock body_content %}


{% block scripts %}
  <script>
    $(document).ready(function () {
      $('#all_expenses_table').DataTable();
    });
  </script>
{% endblock %}
